/*******************************************************************************

 H_EXEC for WINBINDER - The native Windows binding for PHP

 Copyright © Hypervisual - see LICENSE.TXT for details
 Author: Rubem Pechansky (http://winbinder.org/contact.php)

 Resource file

*******************************************************************************/

MainIcon ICON "..\\..\\phpcode\\resources\\h_setup.ico"

//-------------------------------------------------------------------------- END
